/* Global style for topnav */
.topnav {
	overflow: hidden;
}

/* Search box style */
.topnav input[type=text] {
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
